body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

h1, h2, h5, h6, a {
    color: #a00;
}

p, h3, h4 {
    color: #a5a5a5;
}

.main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
    padding: 10 20 10 20;
    text-decoration: none;
}